body {
  font-family: Garnett, sans-serif;
  color: #211313;
  font-size: 2vw;
  line-height: 2vw;
  font-weight: 300;
  letter-spacing: -0.04em;
}

.body {
  width: 100%;
  height: 100vh;
  background-color: #b5a499;
  color: #d2c1b6;
}

.app {
  overflow: hidden;
}

.section {
  width: 100%;
  padding-bottom: 8vw;
  color: #d2c1b6;
}

.section.raw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8vw;
  padding-left: 9vw;
}

.section.sec-4 {
  position: relative;
  padding-right: 8.5vw;
  padding-bottom: 9vw;
  padding-left: 8.5vw;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Antiga, sans-serif;
  color: #211313;
  font-size: 29vw;
  line-height: 23vw;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: none;
}

.grid-w {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 8vw;
  padding-left: 8vw;
}

.grid-col {
  width: 20vw;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: rgba(210, 193, 182, 0.22);
  color: #b5a499;
}

.h1-head {
  margin-top: 3vw;
  font-family: 'Saol Display', sans-serif;
  color: #211313;
  font-size: 14vw;
  line-height: 15vw;
  font-weight: 100;
  text-align: center;
  letter-spacing: -0.06em;
}

.s-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vw;
  padding-top: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(210, 193, 182, 0.4);
}

.s-text {
  margin-top: 6vw;
  color: rgba(33, 19, 19, 0.6);
  font-size: 3vw;
  line-height: 3vw;
  text-align: center;
}

.s-text.down {
  margin-top: 4vw;
  color: #211313;
  font-size: 4vw;
  line-height: 5vw;
}

.h2 {
  max-width: 80%;
  margin: 0px auto;
  color: #211313;
  font-size: 5.5vw;
  line-height: 6.3333vw;
  font-weight: 300;
  text-align: center;
  letter-spacing: -0.04em;
}

.s-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.par {
  color: #211313;
  font-size: 2.2vw;
  line-height: 3.333vw;
}

.par.small {
  font-size: 1.5vw;
  letter-spacing: -0.02em;
}

.par-w {
  max-width: 80%;
}

.par-w.sub {
  max-width: 54%;
  margin-top: 5vw;
}

.img {
  width: 100%;
}

.img.blend {
  border-radius: 80%;
}

.img-w {
  overflow: hidden;
  width: 80%;
  height: 110%;
  border-radius: 60%;
}

.info-head {
  font-family: Antiga, sans-serif;
  color: #211313;
  font-size: 15vw;
  line-height: 12vw;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.span {
  text-decoration: underline;
}

.email {
  color: #211313;
  font-size: 4vw;
  line-height: 4vw;
}

.info-block {
  position: relative;
  z-index: 2;
  margin-top: 5vw;
}

.img-f-wrap {
  display: inline-block;
  width: 65vw;
}

.img-f-wrap.blend {
  background-color: #b5a499;
}

.embed {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 3vw;
  padding: 2vw 4vw;
  color: #d2c1b6;
}

.nav.raw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8vw;
  padding-left: 9vw;
}

.nav.sec-4 {
  position: relative;
  padding-right: 8.5vw;
  padding-bottom: 20vw;
  padding-left: 8.5vw;
}

.nav-w {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-w.c {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-w.r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.info-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.info-social-w {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vw;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.soc-link {
  margin-left: 15px;
  color: #211313;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.info-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 134px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.span-2 {
  text-decoration: underline;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .section.raw {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section.sec-4 {
    padding-bottom: 40vw;
  }

  .s-wrap {
    height: 109vw;
    padding-top: 0vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .s-text {
    font-size: 4.5vw;
    line-height: 4vw;
  }

  .s-text.down {
    font-size: 6vw;
    line-height: 9vw;
  }

  .h2 {
    max-width: 81%;
    font-size: 8vw;
    line-height: 10vw;
  }

  .par {
    font-size: 5vw;
    line-height: 7vw;
    text-align: center;
  }

  .par.small {
    font-size: 3vw;
    line-height: 4vw;
  }

  .par-w {
    margin-top: 13vw;
  }

  .par-w.sub {
    max-width: 81%;
  }

  .email {
    font-size: 6.5vw;
    line-height: 7vw;
  }

  .info-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav {
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .nav-w {
    display: none;
  }

  .nav-w.r {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-inner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-social-w {
    margin-top: 12vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .info-social {
    margin-right: 0px;
    margin-bottom: 9vw;
  }

  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@font-face {
  font-family: 'Antiga';
  src: url('../fonts/Antiga-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Saol Display';
  src: url('../fonts/SaolDisplay-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Garnett';
  src: url('../fonts/Garnett-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}